<div id="wrap">
  <div class="container">
    <div class="row" style="padding: 40px 40px 40px 135px;">
      <div>
        <div>
          <h1 style="padding-bottom: 10px;">Dashboard.</h1>
        </div>
        <div>
          <p class="lead">
            Welcome to your dashboard, earthling.<br />You will be able to see your Jet Fuel information here.
          </p>
        </div>
        <div>
          <p>Shorten a link here.</p>
        </div>
        <div>
          <form action='/dashboard/<%= @user.email %>' method='post'>
            <fieldset>
              <div>
                <input class="input-xlarge span4" type='text' placeholder="e.g. www.hello.com" name="url"/>
              </div>
              <div>
                <input class="input-xlarge span4" type='text' placeholder="vanity url" name="vanity_url"/>
              </div>
              <div>
                <input type='Submit' class='btn btn-primary span4'/>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div style="padding-top: 20px;">
        <h4>Your most recent links.</h4>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Original.</th>
              <th scope="col">Shortened.</th>
              <th scope="col">Created.</th>
            </tr>
          </thead>
          <tbody>
            <% position = 0 %>
            <% @urls.sort_by{ |url| url.created_at }.reverse.each do |url| %>
            <tr>
              <td scope="col"><%= position += 1 %></td>
              <td scope="col"><%= url.original%></td>
              <td scope="col"><a href="/dashboard/<%= @user.email %>/<%= url.shortened %>">http://jfuel.herokuapp.com/<%= url.shortened %></a>
              <td scope="col"><%= url.created_at %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="push"></div>
  </div>
</div>
<%= erb :footer %>