<div id="wrap">
  <div class="container">
    <div class="row" style="padding: 40px 40px 40px 135px;">
      <div>
        <div>
          <h1 style="padding-bottom: 10px;">Let's shorten your URL.</h1>
        </div>
        <div>
          <p class="lead">
            Welcome to Jet Fuel, <br />the link shortener tool developed at gSchool.
          </p>
        </div>
        <div>
          <p>Enter your URL.</p>
        </div>
        <div>
          <form action='/' method='post'>
            <fieldset>
              <div>
                <input class="input-xlarge span4" type='text' placeholder="e.g. www.hello.com" name="url"/>
              </div>
              <div>
                <input type='Submit' class='btn btn-primary span4'/>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div>
        <p class="muted credit">Are you a Jet Fuel power user?<br />Create an account <a href="/register">here</a> or login <a href="/login">here</a>.</p>
      </div>
      <div style="padding-top: 20px;">
        <h4>Our most popular links.</h4>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Original.</th>
              <th scope="col">Shortened.</th>
              <th scope="col">Requests.</th>
            </tr>
          </thead>
          <tbody>
            <% position = 0 %>
            <% @urls.sort_by{ |url| url.requests.size }.reverse.first(5).each do |url| %>
            <tr>
              <td scope="col"><%= position += 1 %></td>
              <td scope="col"><%= url.original%></td>
              <td scope="col"><a href="/<%= url.shortened %>">http://jfuel.herokuapp.com/<%= url.shortened %></a>
              <td scope="col"><%= url.requests.size %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
      <div style="padding-top: 20px;">
        <h4>Our most recent links.</h4>
        <table class="table table-bordered table-striped">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Original.</th>
              <th scope="col">Shortened.</th>
              <th scope="col">Created.</th>
            </tr>
          </thead>
          <tbody>
            <% position = 0 %>
            <% @urls.sort_by{ |url| url.created_at }.reverse.first(5).each do |url| %>
            <tr>
              <td scope="col"><%= position += 1 %></td>
              <td scope="col"><%= url.original%></td>
              <td scope="col"><a href="/<%= url.shortened %>">http://jfuel.herokuapp.com/<%= url.shortened %></a>
              <td scope="col"><%= url.created_at %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div id="push"></div>
  </div>
</div>
<%= erb :footer %>